body {
  margin: 16px;
}

.max-width {
  display: table;
  width: 100%;
}

.half-width {
  float: left;
  width: 50%;
}

.name-column {
  float: left;
  width: 15%;
}

.encounter-column {
  float: left;
  width: 85%;
}

.third-width {
  float: left;
  width: 33%;
}

.subcol0 {
  float: left;
  width: 12.5%;
}

.subcol1 {
  float: left;
  width: 30%;
}

.subcol2 {
  float: left;
  width: 12.5%;
}

.subcol3 {
  float: left;
  width: 12.5%;
}

.subcol4 {
  float: left;
  width: 32.5%;
}

.no-line-height {
  line-height: 20px;
}

.solid-line {
  border-top: 1px solid #444;
}

table {
  min-width: 50%;
}

.row-width {
  min-width: 50%;
}

textarea {
  min-width: 90%;
}
